body{
	background-color: #E5E5E5;
	font: 20px serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body a{
	background-color: #E6ABAB;
	height: 60px;
	font-family: 'Gugi', cursive;
}

header{
	text-align: center;
	margin: 35px;
	padding: 10px;
	background-color : #7988AC;
	border: .5px solid black;
	border-radius: 10px;
	font: 2em sans-serif;
}

h5{
	text-align: center;
}

ul
{
	list-style: none;
}

li{
	display: inline;
}

div{
	background: transparent;
	padding: 20px;
	text-align: justify;
	font-size: 20px;
	margin: 0px 20px 0px 20px;
}

img{
	width: 300px;
	top:20px;
	left:40%;
	position: relative;
	border-radius: 100px;
}


nav{
	position: relative;
	font-color:#2B0740;
	width: 500px;
	height: 50px;
	text-align: center;
	background-color: #BFDADC;
	font: 15px serif;
	border: 2px solid black;
	left: 35%;
	top: 90%;
	display: inline-block;
}

footer{
	height: 15%;
	width: 100%;
	position: absolute;
	background: #848484 ;

}

.nota{

	position: relative;
	font: 10px serif;
	border: 2px solid black;
	background-color:#83E962 ;
	top: 900%;
}

.datosdecotacto{
	border: 3px solid #A48C8C;

	background-color: #FFE5B8;
	margin: 0px 40px 100px 100px;

}

.idiomas{
	border: 5px solid gray;
	background: #E4DD6F;
	padding: 40px;
	margin: 30px;
}


h2{
	background: transparent;
	padding: 2px;
	font-size: 20px;
}


h3{
	background: transparent;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 0px 20px 0px 20px;
	text-decoration: underline;
	color: #080059;
}
